<fieldset class="form-group">
    <label class="capitalize" for="<%= name %>">
      <%= (attr.cms && attr.cms.label) || name %>:
    </label>
    <!-- Render your sub-fields here -->
    <% /* You can loop through possible_fields and include appropriate partials */ %>
  </fieldset>
  