h1 Login
form(action="/admin/login?referer="+referer, method="post")
    label(for="email") Your email address
    input(name="email", type="text")
    br
    label(for="password") Your password
    input(name="password", type="password")
    br
    input(type="submit")